<div class="container">
  <div class="m-3 text-center">
    <form class="form-inline"
      (ngSearch)="doSearch">
      <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               name="search"
               required
               [(ngModel)]="term">
      </div>
      <button type="submit"
              (click)="doSearch()"
              class="btn btn-primary">
        Search
      </button>
    </form>
    <hr />

    <div class="text-center">
      <p
        *ngIf="initialized && loading"
        class="lead loading">Loading...</p>

      <p
        *ngIf="initialized && !loading && !books?.length"
        class="lead no-results">No results returned</p>

      <p
        *ngIf="!initialized"
        class="lead">Enter a search string above and press search</p>
    </div>
  </div>

  <app-book-list *ngIf="!loading" [books]="books"></app-book-list>

  <div class="d-flex justify-content-center">
    <!-- TODO: Show pagnation -->
    <app-pager [page]="page"
               [totalPages]="totalPages"
               (changePage)="changePage($event)"
               [books]="books"
               >
    </app-pager>
  </div>
</div>

<!--
  on 'changePage' event from <app-pager />,
  this component executes the
    "page = $event"
  code, updating it's own this.page value to
  what was submitted by the child component

-->

