<div class="container">
  <div class="m-3 text-center">
    <form class="form-inline"
      (ngSearch)="doSearch">
      <div class="form-group">
        <input type="search"
               class="form-control"
               placeholder="Enter search string"
               name="search"
               required
               [(ngModel)]="term">
      </div>
      <button type="submit"
              (click)="doSearch()"
              class="btn btn-primary">
        Search
      </button>
    </form>
    <hr />

    <div class="text-center">
      <p
        *ngIf="googleBookService.initialized && googleBookService.loading"
        class="lead">Loading...</p>

      <!-- TODO: Show when no results are returned from the API -->
      <p
        *ngIf="googleBookService.initialized && !googleBookService.loading && !googleBookService.books?.length"
        class="lead">No results returned</p>

      <!-- TODO: Show when the user hasn't performed a search yet -->
      <p
        *ngIf="!googleBookService.initialized"
        class="lead">Enter a search string above and press search</p>
    </div>
  </div>

  <!-- TODO: Show the results of the search -->
  <app-book-list [books]="googleBookService.books"></app-book-list>
  <!-- <ul>
    <li *ngFor="let book of googleBookService.books">{{book.title}}</li>
  </ul> -->

  <div class="d-flex justify-content-center">
    <!-- TODO: Show pagnation -->
    <app-pager [page]="googleBookService.page"
               [totalPages]="googleBookService.totalPages"
               (changePage)="googleBookService.page = $event"
               >
    </app-pager>
  </div>
</div>

